:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

    /* colors used for layout */
  --darkBodyColor: #2a385c;
  --darkBodyFontColor: #f9f9fb;

}

/* adding below cde because input field me jo suggestions aati hain on ka style disturb ho rha */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #23282f inset !important;
  -webkit-text-fill-color: white !important;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: var(--darkBodyColor);
  background-image: linear-gradient(320deg, hsl(215, 10%, 12%) 0% /* down */, hsl(215, 19%, 24%) /* up */ 100%);
  color: var(--darkBodyFontColor);
  font-size: 14px;
  margin: 0;
  min-height: 100vh; 
  font-family: var(--font-mono);
}

a {
  color: inherit;
  text-decoration: none;
}


/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
